{% extends 'base.html' %}

{% block title %}Honey world 😋{% endblock %}

{% block content %}


  <!--home section-->
  <section class="py-5" id="home">
  <div class="container-fluid ka">
  <div class="row">
  <div class="col">
  
<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
    <div>
       <h1 class="one mx-4">Welcome to Jilani Organic Food</h1>
    </div>
</div>

<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
    <div>
        <p class="two mx-4">We are providing you with the best quality honey for your better healthcare. It is our motto as "No compromise on better health".</p>
    </div>
</div>

  </div><!--col-->
  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="lightblue" class="bi bi-emoji-smile-fill emoji" viewBox="0 0 16 16">
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
</svg>
<div class="col">
  <div>
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="lightblue" class="bi bi-emoji-smile-fill mt-2 emoji" viewBox="0 0 16 16">
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
</svg>
</div>
<div>
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="lightblue" class="bi bi-emoji-smile-fill mt-2 emoji" viewBox="0 0 16 16">
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8"/>
</svg>
</div>
<button id="darkModeBtn">🌙Dark Mode</button>
</div>
    </div>
  </div>
  </div><!--row-->
  </div><!--container-->
  </section>

  <section class="py-5 mt-5">
<div class="container">
<div class="table-responsive-xl pb-6 pb-xl-0">
<div class="flex-nowrap row">
<div class="col-xl-4 col-lg-6 col-12">
<div class="p-8 mb-3 rounded" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSCJm-aR3Vfgfnmauoexa3gs4iCO48OmjwdQ&s');
background-repeat: no-repeat; background-size: cover; height: 200px;">
<h3 class="mb-0 fw-bold text-light">
  Best quality <br>Best prize  
</h3>
<div class="mb-5 mt-4 fs-5">
 <p class="mb-0 text-light">Check first and then pay</p>
 <span class="text-light">Give us
    <a href="" class="rev"><span class="fw-bold">Reviews</span></a>
 </span>   
</div>

</div>
</div>    
<div class="col-xl-4 col-lg-6 col-12">
<div class="rounded" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHbKnwp0nS8xH4EvDooi_Q6JSNb7SXBKvzrw&s');
background-repeat: no-repeat; background-size: cover; height: 200px;">
<h3 class="mb-0 fw-bold">
  Say Yes to <br>Seasons' Fresh  
</h3>
<div class="mt-4 mb-5 fs-5">
  <p class="fs-5 mb-0">
  Refresh your day <br>the honey way  
  </p>  
</div>

</div>
</div>
<div class="col-xl-4 col-lg-6 col-12">
<div class="p-8 mb-3 rounded" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSECIx8c7eJtYc0D5_IvHCZoYwD2c2E1ogonA&s');
background-repeat: no-repeat; background-size: cover; height: 200px;">
<h3 class="mb-0 fw-bold">
 When in doubt <br>eat honey  
</h3>
<div class="mt-4 mb-5 fs-5">
  <p class="fs-5 mb-0">
Enjoy a spoon<br> every day  
  </p>  
</div>

</div>
</div>
</div>
</div><!--table-->
</div><br><br><!--container-->
  </section>

  <section class="py-5 bg-warning rounded-5" id="about">
 <div class="container">
 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="text-center">
    <h1 class="three">About us</h1>
  </div>
 </div>

 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="text-center mt-5" style="font-size: 20px;">
    <p class="four">"At [Jilani Organic Food], we believe that honey is more than just sweetness—it’s nature’s gift of health and purity. Our journey began with a simple mission: to bring people closer to natural, unprocessed honey straight from the hive.</p>
    <p class="four">We work closely with trusted beekeepers who follow traditional methods, ensuring every drop of honey is pure, raw, and full of natural goodness. From golden wildflower honey to rich, deep forest blends, our collection reflects the richness of nature.</p>
    <p class="four">What makes us different? We never add preservatives, sugar, or artificial flavors. Every jar you open carries the promise of purity, freshness, and care.</p>
    <p class="four">Whether you’re drizzling it on toast, mixing it in tea, or using it for wellness, our honey is crafted to add health, warmth, and natural sweetness to your life.</p>
    <h2 class="mt-5"><b>Our Promise : "Pure, Natural and Honest".</b></h2>
    <span style="font-size: 100px;">🍯</span>
  </div>
 </div>
 </div><!--container-->
  </section>

  <section class="py-5">
  <div class="container">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="text-center">
    <h1 class="three"><b>Services</b></h1>
  </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="text-center">
    <p class="four mt-5">We are providing you the Nature's best gift in the form of best quality and pure healthcare. You can give us a chance to provide you the "Honey" and "Ghee" and we are sure that on first order you will be glad to trust on us and InshAllah you will surely order these items again and again.</p>
  </div>
</div>
  </div><!--container-->
  </section>

  <section class="py-5" id="honey">
  <div class="container">
<div class="row">
<div class="mb-0 col-12">
<h3>Fresh Honey</h3>
<p class="mb-0">eat fresh, stay healthy</p>  
</div>
<div class="g-6 row row-cols-xxl-6 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1">

  <div class="col mt-3 text-decoration-none text-inherit card-link">
  
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <!-- <button class="btn btn-outline-warning">Buy Now</button> -->
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMqdsVt9CiZZoAlAB94gW2_OgQlOH9wOzxDQ&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">HONEY LAVA</div>
<div class="text-start"><b>Fresh Healthy Honey😋</b></div>

<div class="d-flex"><b>2 kg : </b><b class="mx-1"> 3800 Rs.</b></div>
</div>    
</div>    

</div>

<div class="col mt-3 text-decoration-none text-inherit card-link">
  
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <!-- <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a> -->
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMqdsVt9CiZZoAlAB94gW2_OgQlOH9wOzxDQ&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">HONEY LAVA</div>
<div class="text-start"><b>Fresh Healthy Honey😋</b></div>

<div class="d-flex"><b>1 kg : </b><b class="mx-1"> 2000 Rs.</b></div>
</div>    
</div>    

</div>

<div class="col mt-3 text-decoration-none text-inherit card-link">
 
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <!-- <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a> -->
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMqdsVt9CiZZoAlAB94gW2_OgQlOH9wOzxDQ&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">HONEY LAVA</div>
<div class="text-start"><b>Fresh Healthy Honey😋</b></div>

<div class="d-flex"><b>500 g : </b><b class="mx-1"> 1000 Rs.</b></div>
</div>    
</div>    

</div>

<div class="col mt-3 text-decoration-none text-inherit card-link">
 
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <!-- <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a> -->
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMqdsVt9CiZZoAlAB94gW2_OgQlOH9wOzxDQ&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">HONEY LAVA</div>
<div class="text-start"><b>Fresh Healthy Honey😋</b></div>

<div class="d-flex"><b>250 g : </b><b class="mx-1"> 500 Rs.</b></div>
</div>    
</div>    

</div>

</div><!--responsive-->
</div><!--row-->
</div><!--container-->
  </section>

  <section class="py-5" id="ghee">
  <div class="container">
<div class="row">
<div class="mb-0 col-12">
<h3>Fresh Ghee</h3>
<p class="mb-0">eat traditional, stay powerful</p>  
</div>
<div class="g-6 row row-cols-xxl-6 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1">

  <div class="col mt-3 text-decoration-none text-inherit card-link">
  
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <!-- <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a> -->
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCuPvuiOD8ohoELqikKRMmSBY7yr_YS_7Dw&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">DESI GHEE</div>
<div class="text-start"><b>Fresh Healthy Ghee😋</b></div>

<div class="d-flex"><b>1 kg : </b><b  class="mx-1">2800 Rs.</b></div>
</div>    
</div>    

</div>

<div class="col mt-3 text-decoration-none text-inherit card-link">
  
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <!-- <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a> -->
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCuPvuiOD8ohoELqikKRMmSBY7yr_YS_7Dw&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">DESI GHEE</div>
<div class="text-start"><b>Fresh Healthy Ghee😋</b></div>

<div class="d-flex"><b>500 g : </b><b class="mx-1">1500 Rs.</b></div>
</div>    
</div>    

</div>

<div class="col mt-3 text-decoration-none text-inherit card-link">
  
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <!-- <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a> -->
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCuPvuiOD8ohoELqikKRMmSBY7yr_YS_7Dw&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">DESI GHEE</div>
<div class="text-start"><b>Fresh Healthy Ghee😋</b></div>

<div class="d-flex"><b>1 kg : </b><b class="mx-1">2800 Rs.</b></div>
</div>    
</div>    

</div>

<div class="col mt-3 text-decoration-none text-inherit card-link">
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <!-- <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a> -->
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCuPvuiOD8ohoELqikKRMmSBY7yr_YS_7Dw&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">DESI GHEE</div>
<div class="text-start"><b>Fresh Healthy Ghee😋</b></div>

<div class="d-flex"><b>500 g : </b><b class="mx-1">1500 Rs.</b></div>
</div>    
</div>    

</div>

</div><!--responsive-->
</div><!--row-->
</div><!--container-->
  </section>

  <section class="py-5">
<div class="container">
  <div class="d-flex row">
    <div class="col-lg-3 col-md-6 col-sm-12">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="green" class="bi bi-clock" viewBox="0 0 16 16">
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
</svg>
<div class="mt-4">
  <h5>30 minutes grocery now</h5>
  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> <b style="color: gray;">Get your order delivered to your doorstep at the earliest time in 30 minutes.</b></p>
</div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    <div>  
   <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="green" class="bi bi-gift-fill" viewBox="0 0 16 16">
  <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A3 3 0 0 1 3 2.506zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43zM9 3h2.932l.023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9z"/>
</svg>
<div class="mt-4">
  <h5>Best prices</h5>
</div>
<div>
  <p><b style="color: gray; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Cheaper prices than your local supermarket,great quality and trustworthy.</b></p>
</div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    <div>  
   <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="green" class="bi bi-box" viewBox="0 0 16 16">
  <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
</svg>
<div class="mt-4">
  <h5>Wide Assortment</h5>
</div>
<div>
  <p><b style="color: gray; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Choose from 5000+ products as no limit of ordering and feel free to give orders.</b></p>
</div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
    <div>  
   <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="green" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
</svg>
<div class="mt-4">
  <h5>Easy Return</h5>
</div>
<div>
  <p><b style="color: gray; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Not satisfied with a product? Return it at the doorstep & get a refund within hours. No questions asked policy .</b></p>
</div>
    </div>
    </div>
  </div>
</div>
  </section>



<script>
  const btn = document.getElementById("darkModeBtn");
  const html = document.documentElement;

  // Load saved mode (if any)
  if (localStorage.getItem("theme") === "dark") {
    html.setAttribute("data-theme", "dark");
    btn.textContent = "☀️ Light Mode";
  }

  btn.addEventListener("click", () => {
    if (html.getAttribute("data-theme") === "dark") {
      html.removeAttribute("data-theme");
      localStorage.setItem("theme", "light");
      btn.textContent = "🌙 Dark Mode";
    } else {
      html.setAttribute("data-theme", "dark");
      localStorage.setItem("theme", "dark");
      btn.textContent = "☀️ Light Mode";
    }
  });
</script>



{% endblock %}
