{% extends 'base.html' %}

{% block title %} New page {% endblock %}

{% block content %}



<button id="darkModeBtn" style="text-align: end;">🌙Dark Mode</button>
<section class="py-5" id="honey">
  <div class="container">
<div class="row">
<div class="mb-0 col-12">
<h3>Fresh Honey</h3>
<p class="mb-0">eat fresh, stay healthy</p>  
</div>
<div class="g-6 row row-cols-xxl-6 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1">

  <div class="col mt-3">
  <a class="text-decoration-none text-inherit card-link" href="">
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a>
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMqdsVt9CiZZoAlAB94gW2_OgQlOH9wOzxDQ&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">HONEY LAVA</div>
<div class="text-start"><b>Fresh Healthy Honey😋</b></div>

<div class="d-flex"><b>2 kg : </b><b class="mx-1"> 3800 Rs.</b></div>
</div>    
</div>    
</a>
</div>

<div class="col mt-3">
  <a class="text-decoration-none text-inherit card-link" href="">
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a>
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMqdsVt9CiZZoAlAB94gW2_OgQlOH9wOzxDQ&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">HONEY LAVA</div>
<div class="text-start"><b>Fresh Healthy Honey😋</b></div>

<div class="d-flex"><b>1 kg : </b><b class="mx-1"> 2000 Rs.</b></div>
</div>    
</div>    
</a>
</div>

<div class="col mt-3">
  <a class="text-decoration-none text-inherit card-link" href="">
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a>
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMqdsVt9CiZZoAlAB94gW2_OgQlOH9wOzxDQ&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">HONEY LAVA</div>
<div class="text-start"><b>Fresh Healthy Honey😋</b></div>

<div class="d-flex"><b>500 g : </b><b class="mx-1"> 1000 Rs.</b></div>
</div>    
</div>    
</a>
</div>

<div class="col mt-3">
  <a class="text-decoration-none text-inherit card-link" href="">
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a>
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMqdsVt9CiZZoAlAB94gW2_OgQlOH9wOzxDQ&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">HONEY LAVA</div>
<div class="text-start"><b>Fresh Healthy Honey😋</b></div>

<div class="d-flex"><b>250 g : </b><b class="mx-1"> 500 Rs.</b></div>
</div>    
</div>    
</a>
</div>

</div><!--responsive-->
</div><!--row-->
</div><!--container-->
  </section>

  <section class="py-5" id="ghee">
  <div class="container">
<div class="row">
<div class="mb-0 col-12">
<h3>Fresh Ghee</h3>
<p class="mb-0">eat traditional, stay powerful</p>  
</div>
<div class="g-6 row row-cols-xxl-6 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1">

  <div class="col mt-3">
  <a class="text-decoration-none text-inherit card-link" href="">
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a>
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCuPvuiOD8ohoELqikKRMmSBY7yr_YS_7Dw&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">DESI GHEE</div>
<div class="text-start"><b>Fresh Healthy Ghee😋</b></div>

<div class="d-flex"><b>1 kg : </b><b  class="mx-1">2800 Rs.</b></div>
</div>    
</div>    
</a>
</div>

<div class="col mt-3">
  <a class="text-decoration-none text-inherit card-link" href="">
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a>
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCuPvuiOD8ohoELqikKRMmSBY7yr_YS_7Dw&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">DESI GHEE</div>
<div class="text-start"><b>Fresh Healthy Ghee😋</b></div>

<div class="d-flex"><b>500 g : </b><b class="mx-1">1500 Rs.</b></div>
</div>    
</div>    
</a>
</div>

<div class="col mt-3">
  <a class="text-decoration-none text-inherit card-link" href="">
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a>
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCuPvuiOD8ohoELqikKRMmSBY7yr_YS_7Dw&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">DESI GHEE</div>
<div class="text-start"><b>Fresh Healthy Ghee😋</b></div>

<div class="d-flex"><b>1 kg : </b><b class="mx-1">2800 Rs.</b></div>
</div>    
</div>    
</a>
</div>

<div class="col mt-3">
  <a class="text-decoration-none text-inherit card-link" href="">
    <div class="card-product mb-lg-4 card">
      <div class="text-center card-body py-8">
  <a href="{% url 'orders' %}"><button class="btn btn-outline-warning">Buy Now</button></a>
 <img class="mb-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCuPvuiOD8ohoELqikKRMmSBY7yr_YS_7Dw&s" alt="">
<div class="text-start" style="font-size: 14px; color: gray;">DESI GHEE</div>
<div class="text-start"><b>Fresh Healthy Ghee😋</b></div>

<div class="d-flex"><b>500 g : </b><b class="mx-1">1500 Rs.</b></div>
</div>    
</div>    
</a>
</div>

</div><!--responsive-->
</div><!--row-->
</div><!--container-->
  </section>

  <script>
  const btn = document.getElementById("darkModeBtn");
  const html = document.documentElement;

  // Load saved mode (if any)
  if (localStorage.getItem("theme") === "dark") {
    html.setAttribute("data-theme", "dark");
    btn.textContent = "☀️ Light Mode";
  }

  btn.addEventListener("click", () => {
    if (html.getAttribute("data-theme") === "dark") {
      html.removeAttribute("data-theme");
      localStorage.setItem("theme", "light");
      btn.textContent = "🌙 Dark Mode";
    } else {
      html.setAttribute("data-theme", "dark");
      localStorage.setItem("theme", "dark");
      btn.textContent = "☀️ Light Mode";
    }
  });
</script>


{% endblock %}